{% extends 'base.html' %}
{% load static %}
{% block title %}Topic List{% endblock %}

{% block content %}
<div class="container mt-5">
    <h3 class="text-left mb-5">All topics</h3>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4" id="topic-container">
        <!-- Các topic sẽ được hiển thị ở đây -->
    </div>
</div>
<style>
    .card {
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

    .card:hover {
        transform: translateY(-10px); /* Đẩy card lên khi hover */
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Tăng bóng đổ khi hover */
    }
    .topic-name {
        transition: color 0.3s ease; /* Đảm bảo hiệu ứng mượt mà khi đổi màu */
        color: #333; /* Màu mặc định */
    }

    .topic-name:hover {
        color: #007bff; /* Màu xanh dương đẹp khi hover */
        text-decoration: underline; /* Thêm gạch chân khi hover để tạo sự nổi bật */
    }
</style>
{% endblock %}
{% block extra_js %}
<script src="{% static 'js/topic_view.js' %}"></script>
{% endblock extra_js %}
